[submodule "apps/wfo-ui"]
	path = apps/wfo-ui
	url = git@github.com:workfloworchestrator/example-orchestrator-ui.git
[submodule "example-orchestrator-ui"]
	path = apps/example-orchestrator-ui
	url = https://github.com/acidjunk/example-orchestrator-ui.git
